In [2]:
#loading pandas package
import pandas as pd

In [ ]:
#loading German subset of formal data
df_de=pd.read_csv('de.csv', sep='delimiter', header=None, encoding='utf-8')

In [20]:
df_de.head()

                                                   0
0                 Wiederaufnahme der Sitzungsperiode
1  Ich erkläre die am Freitag, dem 17. Dezember u...
2  Wie Sie feststellen konnten, ist der gefürchte...
3  Im Parlament besteht der Wunsch nach einer Aus...
4  Heute möchte ich Sie bitten - das ist auch der...

In [21]:
df_de['l'] = 'de'

In [23]:
df_de.head()

                                                   0   l
0                 Wiederaufnahme der Sitzungsperiode  de
1  Ich erkläre die am Freitag, dem 17. Dezember u...  de
2  Wie Sie feststellen konnten, ist der gefürchte...  de
3  Im Parlament besteht der Wunsch nach einer Aus...  de
4  Heute möchte ich Sie bitten - das ist auch der...  de

In [24]:
#extracting 20 samples for German
df_de_1=df_de[df_de.index.isin([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19])]

In [ ]:
#loading Spanish formal data
df_es=pd.read_csv('es.csv', sep='delimiter', header=None, encoding='utf-8')

In [26]:
df_es['l'] = 'es'

In [28]:
df_es.head()

                                                   0   l
0                Reanudación del período de sesiones  es
1  Declaro reanudado el período de sesiones del P...  es
2  Como todos han podido comprobar, el gran "efec...  es
3  Sus Señorías han solicitado un debate sobre el...  es
4  A la espera de que se produzca, de acuerdo con...  es

In [27]:
#extracting 20 samples for Spanish 
df_es_1=df_es[df_es.index.isin([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19])]

In [ ]:
#loading French formal data 
df_fr=pd.read_csv('fr.csv', sep='delimiter', header=None, encoding='utf-8')

In [30]:
df_fr['l'] = 'fr'
df_fr.head()

                                                   0   l
0                              Reprise de la session  fr
1  Je déclare reprise la session du Parlement eur...  fr
2  Comme vous avez pu le constater, le grand "bog...  fr
3  Vous avez souhaité un débat à ce sujet dans le...  fr
4  En attendant, je souhaiterais, comme un certai...  fr

In [31]:
#extracting 20 samples for French
df_fr_1=df_fr[df_fr.index.isin([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19])]

In [ ]:
#loading English formal data
df_en=pd.read_csv('en.csv', sep='delimiter', header=None, encoding='utf-8')

In [33]:
df_en['l'] = 'en'

In [35]:
df_en.head()

                                                   0   l
0                          Resumption of the session  en
1  I declare resumed the session of the European ...  en
2  Although, as you will have seen, the dreaded '...  en
3  You have requested a debate on this subject in...  en
4  In the meantime, I should like to observe a mi...  en

In [34]:
#extracting 20 samples for English
df_en_1=df_en[df_en.index.isin([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19])]

In [36]:
#concatenating the data sets
formal= pd.concat([df_fr_1, df_es_1,df_de_1,df_en_1], axis=0)
formal.reset_index(drop=True, inplace=True)
formal.to_excel('full_formal.xlsx')
formal.shape

(80, 2)

In [37]:
#creating a version of the formal data that contains short samples (3-word samples)
formal[0]=formal[0].apply(lambda item: ' '.join(item.split()[:3]))
formal.head()

                    0   l
0       Reprise de la  fr
1  Je déclare reprise  fr
2     Comme vous avez  fr
3  Vous avez souhaité  fr
4    En attendant, je  fr

In [38]:
#saving the data to an xlsx file
formal.to_excel('formal_3.xlsx')